rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    function isAdmin() {
      return request.auth != null
        && request.auth.uid == 'JD4zZi1Mb2P3ByJ8C3WVNiZi1Dh1';
    }

    match /site-images/{imagePath=**} {
      allow read: if true;
      allow create, update: if isAdmin()
        && request.resource.size < 10 * 1024 * 1024
        && request.resource.contentType.matches('image/.*');
      allow delete: if isAdmin();
    }
  }
}
